---
layout: default
---

<div class="home">

   <!-- section for featured posts -->
   <section content="site-search">
      <div class="wrapper">
         <h1>featured articles</h1>
            {% assign count = 0 %}
               {% for post in site.posts reversed %}
                  {% if post.featured == true and count < 1 %}
                     <div class="post post-featured">
                        {% include post.html %}
                     </div>
                     {% assign count = count | plus:1 %}
                  {% endif %}
               {% endfor %}
      </div>
   </section><!-- END featured posts -->

   <!-- section for featured projects -->

   <!-- section for featured articles -->
   <section content="site-search site-section-last">
      <div class="wrapper">
         <h1>latest articles</h1>
            <ul class="post-list">
               {% for post in site.posts reversed | limit:3 %}
               <li class="post">
                  <h2>{{ post.title }}</h2>

                  <p>{{ post.content | strip_html | strip_newlines | truncate: 200 }}</p>

                  <p class="post-read-more-link"><a href="#">read more...</a></p>
               </li>
               {% endfor %}
            </ul>
      </div>
   </section><!-- END featured posts -->
</div>
